@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-color: black;
    background-image:linear-gradient(to top  ,#6141aa , #081e99 , #8522d6) ;
    display: flex;
    align-items: center ;
    justify-content: center;
}

main{
    background-color: #ffffff21 ;
    width: 350px;
    height: 435px;
    border-radius: 20px;
    padding: 10px;
}
 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    
}

form{
    margin-top: 50px;
}
p{
    margin-top: 10px;
}


#gmail{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(250, 242, 242, 0);
    border-color: #F2F7E9;
    color: white;
}

#senha{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(250, 242, 242, 0);
    border-color: #F2F7E9;
    color: white;
}

#login{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(250, 242, 242, 0);
    color:white;
    font-size: 24px;
    border-color: #F2F7E9;
}

::-webkit-input-placeholder {
    color:rgb(250, 242, 242) ;
    font: 12px verdana, arial, sans-serif;
    font-size: 24px;
 }

 
#login:hover{
    border-color:rgba(101, 4, 146, 0.911);
    position: relative;
    top: 5px;
    left: 5px;
 }
 #senha:hover{
    border-color: rgba(101, 4, 146, 0.911);
    position: relative;
    top: 5px;
    left: 5px;
 }
 #gmail:hover{
    border-color: rgba(101, 4, 146, 0.911);
    position: relative;
    top: 5px;
    left: 5px;
 }
 